@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500&display=swap");

* {
  color: green;
  font-family: "Poppins", sans-serif;
}

.search-field {
  width: 60%;
  margin-top: 20px;
  padding: 10px;
}
